# Ignore any Nextflow-specific files
work/
.nextflow/
.nextflow.log
reports/
timeline.html
trace.txt

# Ignore any Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files and temporary files
*.log
*.tmp
*.bak

# Ignore Conda environments and packages
.env/
*.env
*.yml

# Ignore results and output folders
results/
output/

# Ignore any secret or configuration files with credentials
secrets.env
config/private.config
