// This file is part of minMutFinder.
//
// minMutFinder is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// minMutFinder is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with minMutFinder. If not, see <https://www.gnu.org/licenses/>.
//
// Copyright (C) 2024 Respiratory Viruses Unit, Microbiology Department, Vall d’Hebron Hospital Universitari, Vall d’Hebron Institut de Recerca (VHIR), Vall d’Hebron Barcelona Hospital Campus, Passeig Vall d’Hebron 119-129, 08035 Barcelona, Spain

manifest {
  name = 'minMutFinder'
  author = 'Ignasi Prats Méndez'
  contributors = [
    [name:"Ignasi Prats Méndez", contribution:['author']],
    [name:"Alejandra González-Sánchez", contribution:['maintainer']],
    [name:"Marc Pérez i Bautista", contribution:['maintainer']]
  ]
  homePage = 'https://github.com/ignasi-pratsmendez/minMutFinder.git'
  description = 'Minority Mutation Finder'
  mainScript = 'minMutFinder.nf'
  version = '2.0.0'
}

params {

  help = false
  h = false
  version = false
  v = false
  out_path = false
  r1 = false
  r2 = false
  ref_seq = false
  annotate = false
  syn_muts = "no"
  mapping = "minimap2"
  vcf = false
  areads = false
  AF = 0.05
  depth = 20
  threads = 4
  SB = 999
  programs = [
    all_muts_finder : "${baseDir}/bin/all_muts_finder.py",
    annotate_and_viz : "${baseDir}/bin/annotate_and_viz.py",
    by_protein_analysis : "${baseDir}/bin/by_protein_analysis.py",
    cigar_remove : "${baseDir}/bin/cigar_remove.py",
    expand_vcf_rows : "${baseDir}/bin/expand_vcf_rows.py",
    get_text : "${baseDir}/bin/get_text.py",
    in_vcf : "${baseDir}/bin/in_vcf.py",
    indel_mutations_finder : "${baseDir}/bin/indel_mutations_finder.py",
    minority_mutations_finder : "${baseDir}/bin/minority_mutations_finder.py",
    read_count : "${baseDir}/bin/read_count.py",
    read_metrics : "${baseDir}/bin/read_metrics.py",
    read_assembler : "${baseDir}/bin/read_assembler.py",
    ref_check : "${baseDir}/bin/ref_check.py",
    replacer_vcm : "${baseDir}/bin/replacer_vcm.py",
    replacer : "${baseDir}/bin/replacer.py",
    sam_bam_processing : "${baseDir}/bin/sam_bam_processing.py",
    seq_reader : "${baseDir}/bin/seq_reader.py",
    translateDNA : "${baseDir}/bin/translateDNA.py",
    tsv2vcf : "${baseDir}/bin/tsv2vcf.py",
    variant_codon_mutation : "${baseDir}/bin/variant_codon_mutation.py",
    visualizer : "${baseDir}/bin/visualizer.py",
    viz_no_annotate : "${baseDir}/bin/viz_no_annotate.py"
  ]

}
