#!/usr/bin/env nextflow

manifest {
  name = 'minMutFinder'
  author = 'Ignasi Prats Méndez'
  homePage = 'https://github.com/ignasi-pratsmendez/minMutFinder.git'
  description = 'Minority Mutation Finder'
  mainScript = 'minMutFinder.nf'
  version = '0.9.1'
}

params {

  help = false
  h = false
  version = false
  v = false
  out_path = false
  r1 = false
  r2 = false
  ref_seq = false
  annotate = false
  syn_muts = "no"

}
