// This file is part of minMutFinder.
//
// minMutFinder is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// minMutFinder is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with minMutFinder. If not, see <https://www.gnu.org/licenses/>.
//
// Copyright (C) 2024 Ignasi Prats Méndez

manifest {
  name = 'minMutFinder'
  author = 'Ignasi Prats Méndez'
  homePage = 'https://github.com/ignasi-pratsmendez/minMutFinder.git'
  description = 'Minority Mutation Finder'
  mainScript = 'main.nf'
  version = '1.2.0'
}

params {

  project_data = "$projectDir"
  help = false
  h = false
  version = false
  v = false
  out_path = false
  r1 = false
  r2 = false
  ref_seq = false
  annotate = false
  syn_muts = "no"
  mapping = "minimap2"
  vcf = false
  areads = false
  AF = 0.05
  depth = 20
  threads = 4
  SB = 29
  // cO = false

}
